i,
.material-symbols-outlined {
  color: #0d6efd;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover i,
a:hover .material-symbols-outlined {
  color: #0a58ca;
}
